@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');
body {
	background-color: black!important;
	color: white!important;
    background:            linear-gradient(to left top, #E63E6D, #2A0944);
    background-attachment: fixed; /*edit*/
}

*{
    font-family: 'Open Sans', sans-serif!important;
}

a {
    text-decoration:none!important;
}

.display-1{
    font-weight:500!important;
}

.display-7 {
    font-weight: lighter!important;
    font-size:0.5em!important;
}

.link-light:hover {
    width:100%!important;
    background-color: #5F347F!important;
}
